<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Consejo Deliberante Neuqu&eacute;n</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">

    <link href="{{ asset('vendor/@tabler/core/dist/css/tabler.min.css') }}" rel="stylesheet"/>

    <style>
        @import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>

<body class=" d-flex flex-column bg-white" data-bs-theme="light">
<div class="row g-0 flex-fill">
    <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
        <div class="container container-tight my-5 px-lg-5">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark">
                    <img src="{{ asset('img/logo.png') }}" height="36" alt="" />
                </a>
            </div>
            <h2 class="h3 text-center mb-3">
                Ingrese a su cuenta
            </h2>
            <form method="post" novalidate>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="mb-3">
                    <label class="form-label">Direcci&oacute;n de Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" class="form-control"
                           placeholder="your@email.com" autocomplete="email" required autofocus>
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Contrase&ntilde;a
                        <span class="form-label-description">
                  <a href="#">Olvid&eacute; mi contrase&ntilde;a</a>
                </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" name="_password" class="form-control" placeholder="Your password"
                               autocomplete="current-password" required>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </div>
            </form>
            <div class="text-center text-secondary mt-3">
                No tienes cuenta? <a href="#" tabindex="-1">Registrate</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
        <div class="bg-cover h-100 min-vh-100" style="background-image: url({{ asset('img/login.jpg') }})"></div>
    </div>
</div>

</body>
</html>
